
:root {
  --primary-color: #2C5364;
  --secondary-color: #4B8A9F;
  --accent-color: #F7F7F7;
  --white: #fff;
  --light-gray: #F5F5F5;
  --dark-gray: #3E4A59;
  --black: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F4F7FA;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.doctor-calendar-wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.doctor-section, .calendar-section {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- Estilos del calendario --- */
.fc-toolbar {
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#fc-dom-1 {
  margin: 2rem;
}

.fc-button {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.fc-button:hover {
  background-color: var(--black);
}

.fc-daygrid-day-number {
  font-size: 1.2rem;
  font-weight: bold;
}

.fc-daygrid-day {
  cursor: pointer;
}

.fc-daygrid-day.selected-day::selection {
  background-color: var(--primary-color); /* Color de fondo del día seleccionado */
  color: var(--white); /* Color de texto en el día seleccionado */
  border-radius: 50%; /* Redondear las esquinas para hacerlo más visual */
}

.fc-daygrid-day:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}

/* --- Estilos de las citas --- */
.appointment-details, .confirmation-message {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--light-gray);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.appointment-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.time-selector {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.time-selector select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--white);
}

.button-submit, .button-cancel {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-top: 10px;
  gap: 10px;
}

.button-submit {
  background-color: var(--primary-color);
  color: var(--white);
  margin: 1rem;
}

.button-submit:hover {
  background-color: var(--black);
}

.button-cancel {
  background-color: #D8D8D8;
  color: #333;
  margin: 1rem;
}

.button-cancel:hover {
  background-color: #b5b5b5;
}

/* --- Mensaje de confirmación --- */
.confirmation-message p {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.confirmation-message button {
  margin-top: 15px;
}

/* --- Diseño responsivo --- */
@media (max-width: 768px) {
  .doctor-calendar-wrapper {
    flex-direction: column;
  }

  .doctor-section, .calendar-section {
    width: 100%;
  }

  .calendar-container {
    width: 100%;
  }
}
