/*REGISTER*/
.custom-register-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 3px;
    background-color: #ffffff;
    border-radius: 8px;
    font-family: Arial, sans-serif;
  }
  
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: inherit;
  }
  
  
  .required {
    color: red;
    font-weight: bold;
  }
  
  
  .custom-register-button {
    width: 100%;
    padding: 12px;
    background-color: #000; 
    color: #fff; 
    border: none;
    border-radius: 25px; 
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  
  .custom-register-button:hover {
    background-color: #333; 
  }
  
 
  .form-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  
  .form-footer a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .form-footer a:hover {
    text-decoration: underline;
  }
  
  /*LOGIN*/ 
 
  body {
    background-color: #f4f7fa;
    font-family: Arial, sans-serif;
  }

  .form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px;
    background-color: #ffffff;
    border-radius: 8px;
    font-family: Arial, sans-serif;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: inherit;
  }
  
  .required {
    color: red;
    font-weight: bold;
  }
  
  .button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #333;
  }
  
  .footer-login {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  
  .link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
/* NAVBAR */

  .navbar {
    background-color: #2C5364;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  
 
  .btn-green {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .btn-green:hover {
    background-color: #218838; 
    transform: scale(1.05);
  }
.nav-link {
  color: white;
  display: flex;
}

/*FOOTER*/

.footer {
  background-color: #2C5364;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.container-footer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  gap:20px; 
}

.nav-link {
  text-decoration: none; 
  font-size: 16px; 
}
.nav-link:hover {
  color: white; 
}

/* Estilos de Home.js */
.jumbotron_div{
  margin:0;
  padding: 0;
  /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;*/
  /*background-image: url("https://clinicalarriba.es/wp-content/uploads/2018/04/Slider1.jpg");*/
  background-color: #2C5364;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  color:#4286F4;
  border-radius: 0px!important;
}
.jumbotron_h1{
  margin: 0;
  /*padding: 0;*/
  font-size: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  font-weight: bolder;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  text-align: center; 
}

.card_container{
  display: flex;
  justify-content: space-around;
}
/*BOTON AGENDAR CITA*/
.btn-custom {
  background-color: #0056b3;
  color: white;
  padding: 0.75rem 5rem;
  border: none; 
  border-radius: 5px; 
  font-size: 1.2rem;
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #004494; 
}
/*Titulo de especialidades*/
.title {
  display: flex;
  justify-content: center;
}
/*Lineas divisorias*/
.lineas{
  border: 0; 
  border-top: 4px solid #003366; 
  width: 80%; 
  margin: 20px auto;
}